<div class="site-meta {% if theme.custom_logo.enabled %}custom-logo{% endif %}">
    {% if theme.custom_logo.image and theme.scheme == 'Muse' %}
    <div class="site-meta-headline">
        <a>
            <img class="custom-logo-image" src="{{ theme.custom_logo.image }}"
                 alt="{{ config.title }}"/>
        </a>
    </div>
    {% endif %}

    <div class="custom-logo-site-title">
        <a href="/" class="brand" rel="start">
            <span class="logo-line-before"><i></i></span>
            <span class="site-title">{{theme.site_title}}</span>
            <span class="logo-line-after"><i></i></span>
        </a>
    </div>
    <p class="site-subtitle">{{theme.site_subtitle}}</p>
</div>

<div class="site-nav-toggle">
    <button>
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
    </button>
</div>

<nav class="site-nav">

    {% if theme.menu %}
    <ul id="menu" class="menu">
        {% for name, value in theme.menu.items %}
        <li class="menu-item menu-item-{{ name }}">
            <a href="{{value.path}}" rel="section">
                <i class="menu-item-icon fa fa-fw fa-{{value.icon | default:'question-circle' | lower }}"></i>
                <br/>
                {{value.label}}
            </a>
        </li>
        {% endfor %}


    </ul>
    {% endif %}
</nav>

