{% load myapp_markup %}
<article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article"
         style="opacity: 1; display: block; transform: translateY(0px);">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <a class="post-title-link" href="{{blog.get_absolute_url}}" itemprop="url">
                {{blog.title}}
            </a>
        </h1>

        <div class="post-meta">
          <span class="post-time">
            <span class="post-meta-item-icon">
              <i class="fa fa-calendar-o"></i>
            </span>
            <span class="post-meta-item-text">发表于</span>
            <time itemprop="dateCreated" datetime="{{blog.add_time}}" content="{{blog.add_time|date:" Y-m-d"}}">
              {{blog.add_time|date:"Y-m-d"}}
              </time>
          </span>


            <span class="post-category">
              &nbsp; | &nbsp;
              <span class="post-meta-item-icon">
                <i class="fa fa-folder-o"></i>
              </span>
              <span class="post-meta-item-text">分类于</span>

                <span itemprop="about" itemscope="" itemtype="https://schema.org/Thing">
                  <a href="" itemprop="url" rel="index">
                    <span itemprop="name">{{blog.category}}</span>
                  </a>
                </span>

            </span>


            <span class="post-comments-count">
                &nbsp; | &nbsp;
                <a href="/2016/publishing-github-pages-with-travis-ci/#comments" itemprop="discussionUrl">
                  <span class="post-comments-count ds-thread-count"
                        data-thread-key="2016/publishing-github-pages-with-travis-ci/"
                        itemprop="commentsCount">86条评论</span>
                </a>
              </span>


            <span id="/2016/publishing-github-pages-with-travis-ci/" class="leancloud_visitors"
                  data-flag-title="使用 Travis CI 自动更新 GitHub Pages">
               &nbsp; | &nbsp;
               <span class="post-meta-item-icon">
                 <i class="fa fa-eye"></i>
               </span>
               <span class="post-meta-item-text">阅读次数 </span>
               <span class="leancloud-visitors-count">8910</span>
              </span>

        </div>
    </header>


    <div class="post-body" itemprop="articleBody">
        {% if is_index %}
        {{blog.content|slice:"0:300" | md1}}

        <div class="post-more-link text-center">
            <a class="btn" href="{{blog.get_absolute_url}}" rel="contents">
                阅读全文 »
            </a>
        </div>
        {% else %}
        {{blog.content | md1}}
        {% endif %}


    </div>

    <footer class="post-footer">

        <div class="post-eof"></div>

    </footer>
</article>