{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
<header class="main-header post-head no-cover">
    {% include "widget/main-nav.html" %}
</header>
{% endblock %}
{% block body %}
<main class="content" role="main">
    <article class="post page">

        <header class="post-header">
            <h1 class="post-title">About</h1>
        </header>

        <section class="post-content">
            <p>Hi! My name is Liuzhijun, and I work as a Software Engineer at Guangzhou China, Most of the time I write
                Python code. I also use Java write something, such as Android App. You can contact me via
                lzjun567@gmail.com</p>

            <h1 class="post-title">Side Projects</h1>
            <ol>
                <li>Django Blog:a blog platform based on django with simplicity style. <a href="https://github.com/lzjun567/django_blog">link</a></li>
                <li>Android App: a app for ImportNew <a href="https://github.com/lzjun567/XiYuanFangApp">link</a> </li>
                <li>Gongshare: a resource collection site. <a href="http://fav.foofish.net">link</a></li>
                <li>kaixinyihui: a site about joke. <a href="http://www.kaixinyihui.com">link</a></li>
            </ol>
        </section>
        {% include "widget/disqus.html" %}
    </article>
</main>
{% endblock %}
    
 
