{% extends "base.html" %}
{% block title %}FooFish的自话自说---关于{% endblock %}
{% block content %}

<div style="margin-bottom:10px">
foofish是一名程序员，爱折腾，崇尚KISS（Keep It Stupid and Simple）
</div>
<div style="margin-bottom:20px">
他有时会出现在：<a href="http://weibo.com/527355345">weibo</a>、<a href="https://github.com/lzjun567">github</a>、 <a href="http://stackoverflow.com/users/1392860/liuzhijun">stackoverflow</a>、 <a href="http://www.douban.com/people/lzjun567/">douban</a>、twitter、zhihu、 v2ex
</div>
{% include "disqus.html" %}
{% endblock %}
    
 
