{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
<header class="main-header post-head no-cover">
    {% include "widget/main-nav.html" %}
</header>
{% endblock %}
{% block content %}
<main class="content" role="main">
    <article class="post page">


        <section class="post-content">
            <h2 class="post-title">关于作者</h2>
            <p>
            这是Foofish的个人站点, 一直在互联网行业做技术开发相关工作, 对程序语言有一点研究, 对技术架构有一点实践经验, 技术背景包括:
                <ul>
                <li>Python</li>
                <li>Java</li>
                <li>MySQL</li>
                <li>NoSQL</li>
                <li>Unix/Linux</li>
                <li>Web架构</li>
            </ul>
            我的电子邮箱是: lzjun567@gmail.com , <a href="http://weibo.com/lzjun567">微博</a>偶尔用 , 我的<a href="https://github.com/lzjun567">Github</a>干货可能更多点
            </p>

        </section>
        {% include "widget/disqus-comment.html" %}
    </article>
</main>
{% endblock %}
    
 
