<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% load compress %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/github.min.css">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}"/>
    {% endcompress %}

    <style>
        pre {
        word-wrap: normal;
        -moz-hyphens: none;
        -ms-hyphens: none;
        -webkit-hyphens: none;
        hyphens: none;
        font-size: 0.7em;
        line-height: 1.3em;
        }
        pre code, pre tt {
        white-space: pre;
        }
    </style>
</head>
<body class="{% block body_class %}{% endblock %} nav-closed">

<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home nav-current" role="presentation"><a href="{% url 'blog:home' %}">Home</a></li>
        <li class="nav-current" role="presentation"><a href="{% url 'blog:tag_list' %}">Tags</a></li>

        <li class="nav-about" role="presentation"><a href="{% url 'about' %}">About</a></li>

        <li class="nav-start-a-blog" role="presentation"><a href="https://github.com/lzjun567">Github</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{% url 'feeds'%}">Subscribe</a>
</div>
<span class="nav-cover"></span>

<div class="site-wrapper">

    {% block head %}{% endblock %}
    {% block body %}{% endblock %}

    <footer class="site-footer clearfix">
        <section class="copyright"><a href="http://foofish.net">foofish</a> &copy; 2015</section>
        <section class="poweredby">Powered
            <em>by</em><a href="https://github.com/lzjun567/django_blog"> Django_Blog</a> & <a
                    href="https://www.digitalocean.com/?refcode=af4cff8f42bc" target="_blank">DigitalOcean</a>
        </section>

    </footer>

</div>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endcompress %}

<!-- http://highlightjs.readthedocs.org/en/latest/css-classes-reference.html -->
<script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>




