<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/prism.css' %}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    {% block assert %} {% endblock %}

</head>
<body class="{{body_class|default:'home-template' }} nav-closed">
   {%include "widget/navigation.html"%}

    <div class="site-wrapper">

          {% block head %}{% endblock %}
          {% block body %}{% endblock %}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="http://foofish.net">foofish的念</a> &copy; {{date}}</section>

            <section class="poweredby">Proudly published with <a href="https://github.com/lzjun567/django_blog">django_blog</a></section>
            <section class="poweredby">Template <a href="https://github.com/lzjun567/django_blog">Ghost</a></section>

        </footer>

    </div>

    {% block foot %} {% endblock %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/prism.js' %}"></script>

</body>
</html>




