{% extends "base.html" %}
{% load myapp_markup %}
{% load bootstrap_pagination %}

{% block description %}FooFish的自话自说,Bloger,Enginner{%endblock%} 
{% block title %}FooFish的自话自说{% endblock %}

{% block content %}
    {% for blog in blogs %}
    <!-- blog entry -->
    <h3>
        <a href="{% url 'blog:blog_detail' blog.id blog.link%}">{{blog.title}}</a>
    </h3>
    {% comment %} 
    <p class="lead">by <a>{{blog.author.username}}</a> </p>
    {% include "widget/blog-info.html" with blog=blog only %}
    {% endcomment %}
    <!-- <img src="http://placehold.it/900x300" class="img-responsive"> --!>
    <div class="article-preview">
    {{blog.snippet | md1}} 
    </div>

    <a class="btn btn-primary" href="{% url 'blog:blog_detail' blog_id=blog.id blog_link=blog.link %} ">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    {% endfor %} 
    <!-- pager -->
    {%bootstrap_paginate blogs %}
{% endblock %}

{% block panel %} {%include "widget/panel.html"%}{%endblock%}

            
