{% extends "base.html" %}
{% load myapp_markup %}
{% block description %}FooFish的自话自说,Bloger,Enginner{%endblock%}
{% block title %}FooFish的自话自说{% endblock %}

{% block head %}
<header class="main-header">

    <nav class="main-nav overlay clearfix">
        <a class="blog-logo" href="/"><img
                src="/content/images/2014/09/Ghost-Transparent-for-DARK-BG.png" alt="Foofish"></a>
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Foofish</h1>

            <h2 class="page-description">Life is Short, Tomorrow Is Not Promised</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
{% endblock %}

{% block navigation %}
{%include "widget/navigation.html"%}
{% endblock %}

{% block body %}
<main id="content" class="content" role="main">
    {% for blog in blogs %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p><a class="read-more" href="{{blog.get_absolute_url}}">{{blog.snippet}} &raquo;</a></p>
        </section>
        <footer class="post-meta">
            <img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin"/>
            {{blog.author.username}}
            <time class="post-date" datetime='{{blog.add_time|date:"b d, Y"}}'>{{blog.add_time|date:"b d, Y"}}</time>
        </footer>
    </article>

    {% endfor %}

    <nav class="pagination" role="navigation">
        <span class="page-number">Page {{blogs.number}} of {{blogs.paginator.num_pages}}</span>
        {% if blogs.has_previous %}
        <a class="newer-posts" href="/blog/page/{{blogs.previous_page_number}}">← Newer Posts</a>
        {% endif %}
        {% if blogs.has_next %}
        <a class="older-posts" href="/blog/page/{{ blogs.next_page_number }}">Older Posts →</a>
        {% endif %}

    </nav>
</main>


{% endblock %}
