{% extends "base.html" %}
{% load myapp_markup %}
{% block description %}{{blog.snippet | truncatewords:50}}{%endblock%}
{% block title %}{{blog.title}}{% endblock %}
{%block body_class %} post-template {% endblock %}
{% load staticfiles %}

{% block head %}
<header class="main-header post-head no-cover">
    {% include "widget/main-nav.html" %}
</header>
{% endblock %}


{% block content %}

<article class="post">

    <header class="post-header">
        <h1>{{blog.title}}</h1>
        <div class="row">
            <div class="col-sm-6 col-md-6 post-meta">
                <time class="post-date" datetime='{{blog.add_time|date:"b d, Y"}}'>
                    {{blog.add_time|date:"Y-m-d"}}
                </time>
                {% for tag in blog.tags.all %}
                <a href="{%url 'blog:tag' tag%}">{{tag }}</a>
                {% endfor %}
            </div>

        </div>
    </header>

    {% if blog.cover %}
    <img src="{{blog.cover}}" class="img-responsive">
    <br>
    {% endif %}

    <section class="post-content">
        {{blog.content | md1}}

        <p>原文链接：<a href="{{blog.get_absolute_url}}" rel="author">{{blog.title}}</a>，转载请注明来自<a
                href="http://foofish.net">foofish的博客</a>！
        </p>
    </section>

    <hr>
    <footer>
        <h3>猜你喜欢</h3>
        {% for blog in random_posts %}
        <p><a href="{{blog.get_absolute_url}}" rel="author">{{blog.title}}</a></p>
        {% endfor %}
    </footer>

    {% include "widget/disqus-comment.html" %}
</article>

{% endblock %}
