{% extends "base.html" %}
{% load myapp_markup %}
{% block description %}FooFish的念,Bloger,Enginner,Python{%endblock%}
{% block title %}FooFish的笔录{% endblock %}
{%block body_class %} home-template {% endblock %}
{% load staticfiles %}
{% block head %}


<header class="main-header tag-head " style="background-image: url({% static 'img/home-bg.jpg' %})">
    <nav class="main-nav overlay clearfix">
        <a class="blog-logo" href="{%url 'index' %}">FOOFISH</a>
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag_title |default:"Life is Short"}}</h1>
            <h2 class="page-description">
                    {{tag_description|default:" You need something,not just Python"}}
            </h2>
        </div>
    </div>
</header>


{% endblock %}


{% block body %}
<main id="content" class="content" role="main">
    {% for blog in blog_list %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p><a class="read-more" href="{{blog.get_absolute_url}}">{{blog.snippet}} &raquo;</a></p>
        </section>
        <footer class="post-meta">
            {{blog.author.username}}
            <time class="post-date" datetime='{{blog.add_time|date:"b d, Y"}}'>{{blog.add_time|date:"b d, Y"}}</time>
        </footer>
    </article>

    {% endfor %}

    {% if is_paginated %}
    <nav class="pagination" role="navigation">
        <span class="page-number">Page {{ page_obj.number }} of  {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_previous %}
        <a class="newer-posts" href="/?page={{page_obj.previous_page_number}}">← Newer Posts</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a class="older-posts" href="/?page={{ page_obj.next_page_number }}">Older Posts →</a>
        {% endif %}
    </nav>
    {% endif %}
</main>


{% endblock %}
