{% extends "base.html" %}
{% load myapp_markup %}
{% block description %}{{blog.snippet | truncatewords:50}}{%endblock%}
{% block title %}{{blog.title}}{% endblock %}
{%block body_class %} post-template {% endblock %}
{% load staticfiles %}

{% block head %}
<header class="main-header post-head no-cover">
    {% include "widget/main-nav.html" %}
</header>
{% endblock %}


{% block body %}

<main class="content" role="main">
    <article class="post">

        <header class="post-header">
            <h2 class="post-title">{{blog.title}}</h2>
            <section class="post-meta">
                <time class="post-date" datetime="{{blog.add_time|date:'b d, Y'}}">{{blog.add_time|date:"b d, Y"}}
                </time>
                {% if blog.tags %}on
                {% for tag in blog.tags.all %}
                {{tag }}
                {% endfor %}
                {% endif %}
            </section>
        </header>

        <section class="post-content">
            {{blog.content | md1}}
        </section>
        <footer class="post-footer">

            <section class="author">
                <h4><a href="{{url}}">{{blog.author.username}}</a></h4>

                <p>Keep It Simple, Stupid.</p>

            </section>

            <!-- JiaThis Button BEGIN -->
            <script type="text/javascript">
            var jiathis_config = {data_track_clickback:'true'};
            </script>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;btn=r2.gif&amp;uid=2080162" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            <!-- UJian Button BEGIN -->
                <script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide"></script>
            <!-- UJian Button END -->

        </footer>

        {% include "widget/disqus.html" %}
    </article>


</main>

    <aside class="read-next">
    <a class="read-next-story " href="{{next_post.get_absolute_url}}">
        <section class="post">
            <h2>{{next_post.title}}</h2>
            <p>{{next_post.snippet|truncatechars_html:100}}</p>
        </section>
    </a>
    <a class="read-next-story prev "  href="{{random_post.get_absolute_url}}">
        <section class="post">
            <h2>{{random_post.title}}</h2>
            <p>{{random_post.snippet|truncatechars_html:100}}</p>
        </section>
    </a>
</aside>

{% endblock %}
