body {
	margin-top: 100px; 
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    
}

.container {
font-family: Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif;
font-size: 16px;
font-weight: 100;
line-height: 30px;
color: #2f2f2f;
}


footer {
	margin: 50px 0;
}

.tag:hover, .tag:focus, .info:focus {
    text-decoration:none;
}

.article-info .info {
    margin: 0 15px 0 2px;
    font-size: 14px;

}
.article-preview ,.footer{
color: #717171;
font-family: Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif;
font-size: 15px;
font-weight: 100;
line-height: 24px;
}

.navbar-user{
float:right;
}

.articles, .about{
list-style:none;
}
.articles li, .about li{
    margin:0 0 0 0;
}
.articles .date{
color: #aaa;
margin-right:10px;
}


a.read-more {
    display: inline-block;
    padding: 3px 7px;
    border-radius: 3px;
    border-color: #428bca;
    text-decoration:none;
}
.read-more:hover, .read-more:focus, .read-more:active, .read-more.active, .open .dropdown-toggle.read-more {
color: #fff;
background-color: #3276b1;
border-color: #285e8e;
}

.share{
    float:right;
}

