
body {
	margin-top: 75px;
}


footer {
	margin: 10px 0;
}


.photo {
	margin-bottom: 10px;
}

.social-buttons button {
	margin-top: 5px;
}

.post-header .post-meta {
    font-size: .9em;
    color: #aaa;
    margin: 0;
}

.post-header a {
    font-size: .9em;
    color: #aaa;
    margin: 0;
}

.content img {
    max-width:100%;
    vertical-align: middle;
}

.tag-cloud {
    text-align: center;
}

.tag-cloud a {
    display: inline-block;
    margin: 10px;
}