 <p class="article-info article-preview">
    
    <span class="glyphicon glyphicon-time"></span><span class="info">{{blog.add_time|date:"Y-m-d"}}</span>

    {% if not blog.is_public %}
        <span class="glyphicon glyphicon-lock"></span>
    {% else %}
        <span class="glyphicon glyphicon-user"></span>
    {%endif %}
    <span class="info"><a href="{% url 'blog:author_blogs' blog.author.username %}">{{blog.author.username}}</a></span>

    {% if blog.tags.all %}
        <span class="glyphicon glyphicon-tags"> </span>
        {% for tag in blog.tags.all %}
            <a href="{% url 'blog:tag' tag.title %}" class="tag info">
                <span class="label label-default">{{tag.title}}</span> 
            </a>
        {% endfor %}
    {%endif%}
</p>
