<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home nav-current" role="presentation"><a href="{% url 'home' %}">Home</a></li>
        <li class="nav-about" role="presentation"><a href="{% url 'about' %}">About</a></li>
        <li class="nav-about" role="presentation"><a href="{% url 'blog:archives' page_num=1 %}">Archives</a></li>

        <li class="nav-start-a-blog" role="presentation"><a href="https://github.com/lzjun567">Github</a></li>
    </ul>
    <!--<a class="subscribe-button icon-feed" href="http://demo.ghost.io/rss/">Subscribe</a> -->
</div>
<span class="nav-cover"></span>
