<div class="col-lg-4">
    <div class="well">
        <div class="input-group">
           <input type="text" class="form-control" id="blog-query">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="blog-search">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    <!-- Tag -->
    <div class="well" id="whatever">
        <h4>Tags</h4>
                    {% for title, count in tags %}
                    <a href="{% url 'blog:tag' title %}" rel="{{count}}">{{title}}</a>
                    {% endfor %}
    </div>

    <!-- github -->
    <div class="well">
        <h4>GitHub</h4>
        <p><a href="https://github.com/lzjun567/django_blog">A blog based on django and bootstrap3</a></p>
    </div>

</div>
