<!doctype html>
{% load staticfiles %}
<html class="theme-next {{theme.scheme|lower}} {{theme.use_motion}}">
<head>
    {% include '_partials/head.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body itemscope itemtype="http://schema.org/WebPage" lang="zh">

{% include '_scripts/third-party/analytics.html' %}

<div class="container one-collumn sidebar-position-{{theme.sidebar.position}} {% block page_class %}{% endblock %} ">
    <div class="headband"></div>

    <header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="header-inner"> {% include '_partials/header.html' %}</div>
    </header>

    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">
                    {% block content %}{% endblock %}
                </div>
                {% include '_partials/duoshuo-hot-articles.html' %}
                {% include '_partials/comments.html' %}
            </div>
            {% if theme.sidebar.display != 'remove' %}
            {% block sidebar %}{% endblock %}
            {% endif %}
        </div>
    </main>

    <footer id="footer" class="footer">
        <div class="footer-inner">
            {% include '_partials/footer.html' %}
            {% include '_scripts/third-party/analytics/busuanzi-counter.html' %}
            {% block footer %}{% endblock %}
        </div>
    </footer>

    <div class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </div>
</div>

{% include '_scripts/commons.html' %}
{% block script_extra %}{% endblock %}

{% include '_scripts/third-party/comments.html' %}
{% include '_scripts/third-party/tinysou.html' %}
{% include '_scripts/third-party/localsearch.html' %}
{% include '_scripts/third-party/mathjax.html' %}
{% include '_scripts/third-party/lean-analytics.html' %}
{% include '_scripts/baidu-push.html' %}

</body>
</html>
