{% extends '_layout.html' %}
{% load var_tag %}
{% block title %} {{title.archive }} | {{ config.title }} {% endblock %}

{% block page_class %} page-archive {% endblock %}

{% block content %}

<section id="posts" class="posts-collapse">
    <span class="archive-move-on"></span>

    {% for post in blog_list %}

    {% include '_macro/post-collapse.html' %}

    {% endfor %}

</section>

{% include '_partials/pagination.html' with url='/blog/archives' %}

{% endblock %}

{% block sidebar %}


{% endblock %}


{% block script_extra %}
{% if theme.use_motion %}
<script type="text/javascript" id="motion.page.archive">
      $('.archive-year').velocity('transition.slideLeftIn');

</script>
{% endif %}
{% endblock %}
