{% extends '_layout.html' %}

{% block title %}
title
{% endblock %}

{% block content %}

<div id="posts" class="posts-expand">
    {# tagcloud page support #}
    <div class="tag-cloud">
        <div class="tag-cloud-title">
            {{ counter.tag_cloudsite.tags.length }}
        </div>
        <div class="tag-cloud-tags">
            {% for tag in tag_list %}
            <a href="{% url 'blog:tag' tag.title %}" style="font-size:{{tag.font_size}}px; color:{{tag.color}}">{{tag.title}}</a>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}

{% block sidebar %}

{% endblock %}
