@font-face {
font-family: 'minijianshaoer566033';
src: url('minijianshaoer.eot');
src: url('minijianshaoer.eot?#iefix') format('embedded-opentype'),
     url('minijianshaoer.woff') format('woff'),
     url('minijianshaoer.ttf') format('truetype'),
     url('minijianshaoer.svg#minijianshaoer') format('svg');
    font-weight: normal;
    font-style: normal;
   }