{% load staticfiles %}
{% load compress %}
{# Reset `window.Promise` when it was not a function. #}
{# IE refers the element whose id is `Promise` as `window.Promise`, this causes Velocity throwing an exception #}
<script type="text/javascript">
  if (Object.prototype.toString.call(window.Promise) !== '[object Function]') {
    window.Promise = null;
  }

</script>
{% compress js %}
<script type="text/javascript" src="{% static 'vendors/jquery/index.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/fastclick/lib/fastclick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery_lazyload/jquery.lazyload.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/velocity/velocity.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/velocity/velocity.ui.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/src/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/src/motion.js' %}"></script>

<script type="text/javascript" src="{% static 'js/src/affix.js' %}"></script>
<script type="text/javascript" src="{% static 'js/src/schemes/pisces.js' %}"></script>

<script type="text/javascript" src="{% static 'js/src/bootstrap.js' %}"></script>

{% endcompress %}